</head>
<body>

  <h2>Edit Landmark</h2>

  <%= @landmark.name %>
  <%= @landmark.year_completed %>

  <form action="landmarks/<%=@landmark.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for=""> Landmark Name </label>
    <input type="text" name="landmark[name]" id="landmark_name" value="<%=@landmark.name%>">
    <br>

    <label for="year"> Landmark Year Completed </label>
    <input id= "landmark_year_completed" type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>"><br>

    <label for="">Select From Existing Figures</label><br>

    <% Figure.all.each do |figure| %>
      <input type="radio" name="landmark[figure_id]" value="<%=figure.id%>" id="figure_<%=figure.id%>"><%= figure.name %></input><br>
    <% end %>

    <label for="">New Figure: </label><br>
    <input type="text" name="figure[name]" id="new_figure">
    <br>

    <input type="submit"  value="Edit New Landmark">

  </form>

</body>
</html>
